# Xcode
build/
DerivedData/
*.xcworkspace
*.xcuserstate
*.moved-aside
*.xcuserdatad
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!open_ai_api_token.rtf

# Swift Package Manager
/.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/open_ai_api_token.rtf
